body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow:
  hidden;
}

#root {
    height: 100%;
}

.mainGrid {
    height: 97%;
}

.tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    font-size: 12px;
    padding: 8px;
    background: #000;
    color: #fff;
    min-width: 160px;
    max-height: 240px;
    overflow-y: hidden;
}

.tooltip-country {
  margin-bottom: 8px;
}
.tooltip-title {
    font-weight: bold;
}

.tooltip.interactive {
    pointer-events: all;
    background: #fcfcfc;
    color: #444;
    overflow-y:
    auto;
}

.topAirportList {
  overflow: auto;
  max-height: 350px;
  /*position: absolute;*/
  /*margin: 1em;*/
}


.rightPanel {
  position: absolute;
  z-index: 9;
  right: 0;
  margin: 1em;
  width: 300px;
  /*position: absolute;*/
  /*margin: 1em;*/
}

.mainPanel {
  position: absolute;
  z-index: 9;
  left: 0;
  margin: 1em;
  width: 300px;
}

.card.hidden {
  display:none;
}

.wikipediaLink {
  margin-top: 12px;
}

.topAirportList .ui.card.selected {
  background: #ddd;
}

.topAirportList .ui.card .content h4.header {
  font-size: 14px;
}

.wikipediaSummary {
  max-height: 250px;
  overflow: auto;
}